.u-float-right {
  float: right !important ;
}
.u-text-align-right {
  text-align: right !important;
}
.relative {
  position: relative;
}
.f10 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 14.375rem;
  width: 100%;
}

.respo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 9.56251rem;
}

.respo2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
