// rates bolum3

.rates {
  height: 23.25rem;
  width: 95.6875rem;
  border-radius: 29px;
  padding: 5.125rem 0px 5.125rem 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid #646464;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 1024px) {
    width: 80%;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
  @media only screen and (max-width: 630px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #646464;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
    width: 100%;
  }
  img {
    height: 5rem;
    width: 5rem;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__rate-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 800px) {
    }
  }
  &__rate-2 {
    @media only screen and (max-width: 800px) {
    }
  }
  &__rate-3 {
    @media only screen and (max-width: 800px) {
    }
  }
}
